@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');


* {
    font-family: 'Outfit', sans-serif;
    /* box-sizing: border-box;*/
    margin: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************************* HEADER ***********************************************/
/*Header desde acá...................................*/
header {
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: #0766AD;
    font-weight: bold;
}

header .image_logo a {
    height: 92px;
    display: flex;
    align-items: center;
}

header .image_logo .logo--desktop {
    border-radius: 50px 0 0 50px;
    max-height: 80%;
    width: auto;
}

header .image_logo .logo--mobile {
    display: none;
}

header .navbar {
    width: 30%;
    display: block;
    position: static;
    background-color: transparent;
    padding: 0;
}

header .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 0;
}

header .navbar ul li {
    list-style: none;
}

header .toggle_menu,
header .menu_icon {
    display: none;
}

header .navbar a {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
}

/*  CAMBIOS DESDE ACÁ  */

/* Hover underline del header */
header .navbar.desktop a:hover {
    color: #EE7214;
}

header .navbar.desktop .hover_underline_animation {
    display: inline-block;
    position: relative;
    color: #0766AD;
}

header .navbar.desktop .hover_underline_animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0766AD;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

header .navbar.desktop .hover_underline_animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header .navbar a:visited {
    color: #0766AD;
}

/* Active Page */
header .navbar.desktop .active_page {
    text-decoration: underline #EE7214;
    text-decoration-thickness: 2px;
}

header .navbar.desktop .active_page:hover {
    text-decoration: underline #0766AD;
    text-decoration-thickness: 2px;
}

/*  CAMBIOS HASTA ACÁ  */

header .navbar.mobile {
    display: none;
}

@media screen and (max-width:420px) {
    body {
        padding: 40px 30px;
    }

    header .image_logo .logo--desktop,
    header .navbar.desktop {
        display: none;
    }

    header .image_logo .logo--mobile {
        display: block;
        border-radius: 50px;
        max-height: 80%;
    }

    header .menu_icon {
        display: block;
        font-size: xx-large;
    }

    header .navbar.mobile ul {
        display: flex;
        flex-direction: column;
    }

    header .navbar.mobile li {
        text-align: center;
    }

    header .navbar.mobile li a {
        margin: 0;
    }

    header .toggle_menu:checked~.navbar.mobile {
        background-color: #145659;
        border-radius: 50px;
        display: block;
        position: absolute;
        top: 115px;
        right: 50px;
        height: 200px;
        min-width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .toggle_menu:checked~.navbar.mobile ul {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        margin: 0;
        height: 70%;
        min-width: auto;
    }

    header .toggle_menu:checked~.navbar.mobile ul li a {
        color: #8CECD7;
        font-weight: 500;
    }

    header .navbar.mobile .active_page {
        text-decoration: underline #8CECD7;
        text-decoration-thickness: 1.5px;
    }
}

/* .........................hasta acá. */

/**********************************fin Header ******************************************/


body {
    
   /* padding: 90% 10%;*/
    /*  height: 100vh;*/
    height: 100%;
    background: radial-gradient(circle at 71% 100%, rgba(247, 183, 135, 1) 11%, rgba(7, 102, 173, 1) 58%, rgba(41, 173, 178, 1) 93%);
    min-height: 100vh;
    /*font-size: 18px;*/
    color: white;
}

/*damos formato a height para que al agrandar o encoger la ventana y junto con las propiedades body2 nos muestre bien el fondo*/
html {
    height: auto;
    min-height: 100%;
}

.body2 {    
    min-height: 100%;
    /*margin:50px;*/
    padding: 20px 15px;
    margin-bottom: 30px;
    padding-bottom: 0px;

}


/* Formatos de TEXTO.........................................................................*/

@media screen and (max-width: 600px) {
    body {
        color: white;
        font-size: 14px;
        /* Cambiar el tamaño de fuente base en pantallas más grandes si es necesario */
    }

    p {
        font-size: 0.9em;
        /* Utilizar em para un tamaño de fuente relativo al tamaño de fuente del elemento padre (body en este caso) */
        max-width: 100%;
        /* Hacer que el párrafo no sea más ancho que el ancho de su contenedor */
        color: white;
    }

    .titulo1 {
        font-size: 1.1em;
        color: rgb(255, 255, 255);
    }

    .facebook, .instagram, .twitter{
        width: 30px; /* Ajusta el tamaño para pantallas más pequeñas */
        height: 30px; 
    }
}


@media screen and (min-width: 600px) {
    body {
        color: white;
        font-size: 20px;
        /* Ajustar el tamaño de fuente base para pantallas aún más grandes si es necesario */
    }

    p {
        font-size: 1.2em;
        /* Utilizar em para un tamaño de fuente relativo al tamaño de fuente del elemento padre (body en este caso) */
        max-width: 100%;
        /* Hacer que el párrafo no sea más ancho que el ancho de su contenedor */
        color: white;
    }

    .titulo1 {
        font-size: 2em;
        color: white;
    }

    .facebook, .instagram, .twitter{
        width: 50px; 
        height: 50px; 
    }
}

#tituloApartados {
    color: white;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.54);
    font-family: Outfit;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1.6px;
}

/* Fin Formatos de texto ......................................................................*/




/* HEADER */
/* Header desde acá... */
header {
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: #0766AD;
    font-weight: bold;
}

header .image_logo a {
    height: 92px;
    display: flex;
    align-items: center;
}

header .image_logo .logo--desktop {
    border-radius: 50px 0 0 50px;
    max-height: 80%;
    width: auto;
}

header .image_logo .logo--mobile {
    display: none;
}

header .navbar {
    width: 30%;
    display: block;
    position: static;
    background-color: transparent;
    padding: 0;
}

header .navbar ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 0;
}

header .navbar ul li {
    list-style: none;
}

header .toggle_menu,
header .menu_icon {
    display: none;
}

header .navbar a {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
}

header .navbar a:hover {
    color: #EE7214;
}

header .navbar.mobile {
    display: none;
}


@media screen and (max-width:420px) {
    body {
        padding: 40px 30px;
    }

    header .image_logo .logo--desktop,
    header .navbar.desktop {
        display: none;
    }

    header .image_logo .logo--mobile {
        display: block;
        border-radius: 50px;
        max-height: 80%;
    }

    header .menu_icon {
        display: block;
        font-size: xx-large;
    }

    header .navbar.mobile ul {
        display: flex;
        flex-direction: column;
    }

    header .navbar.mobile li {
        text-align: center;
    }

    header .navbar.mobile li a {
        margin: 0;
    }

    header .toggle_menu:checked~.navbar.mobile {
        background-color: #145659;
        border-radius: 50px;
        display: block;
        position: absolute;
        top: 115px;
        right: 50px;
        height: 200px;
        min-width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .toggle_menu:checked~.navbar.mobile ul {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        margin: 0;
        height: 70%;
        min-width: auto;
    }

    header .toggle_menu:checked~.navbar.mobile ul li a {
        color: #8CECD7;
        font-weight: 500;
    }
  
}

/* ...hasta acá. */


/* FIN HEADER*/


/* Footer Inicio .....................................................................................*/
footer {
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    height: 100px;
    color: #0766AD;
    font-weight: bold;
    /*footer position at the end of the page*/
    position: relative;
    bottom: 0;
    padding-right: 100px;
    padding-left: 50px;
}

footer .copyright {
    width: 75%;
    margin-left: 25px;
}

footer .logosRRSS {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 10px;
    margin-left: 150px;
}

/*footer images hover*/
.facebook:hover {
   
    content: url("/img/rrss/facebook2.svg");
}

.twitter:hover {
    content: url("/img/rrss/twitter2.svg");
}

.instagram:hover {
    content: url("/img/rrss/instagram2.svg");
}

/* end footer .........................................................................................*/

/* Contenidos .........................................................................................*/
.contenedorPpal {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 20px;
    height: fit-content;
}

.mainSectionNosotras {
    width: 100%;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 40px;
}

.mainSectionNuestraMision,
.mainSectionNuestrosValores {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.container1 {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    min-width: 180px;
    margin: auto;
}

.container3 {
    margin: auto;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 180px;
}



.backTextM {
    background-color: #201e1c3d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

#carousel {
    /*establecer medidas del contenedor de la imagen ya que esta se ajuta a su contenedor*/
    width: 80%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#carouselExample {
    width: 100%;
    height: auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

/* carrusel seccion Nuestros Valores, controlar dimensiones*/
#carousel3 {
    /*establecer medidas del contenedor de la imagen ya que esta se ajuta a su contenedor*/
    width: 80%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#carouselExample3 {
    width: 100%;
    height: auto;
    align-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.containerRight {
    padding: 20px;
    margin: auto;
    display: block;

    width: 100%;
}

.containerLeft img {
    border-radius: 40px;
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
}

.containerLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*efecto en la foto de quienes somos*/
.card1 {
    width:fit-content;
    height: auto;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .card-inner1 {
    width: 60%;
    height: inherit;
    box-shadow: 0 0 10px #f7b887;
    backdrop-filter: blur(10px);
    border-radius: 28px;
  }
  
  .card1:hover {
    transform: scale(1.04) rotate(1deg);
  }

  #imagen1{
    width:100%; 
    border-radius: 28px;
  }
  
  .circle1 {
    width: 10%;
    height: 20%;
    background: radial-gradient(#0766AD, #29ADB2);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 1.5s ease-in infinite alternate-reverse;
  }
  
  .circle1:nth-child(1) {
    top: 5%;
    left: 15%;
  }
  
  .circle1:nth-child(2) {
    bottom: -5%;
    right: 15%;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateX(-25%);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateX(25%);
    }
  }