@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 46px 89px 0 89px;
    height: 100vh;
    background: radial-gradient(circle at 71% 100%, rgba(247, 183, 135, 1) 11%, rgba(7, 102, 173, 1) 58%, rgba(41, 173, 178, 1) 93%);
}

header {
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: #0766AD;
    font-weight: bold;
}

header .image_logo {
    height: 92px;
}
header .image_logo img {
    max-height: 92px;  
}

header .navbar {
    width: 30%;
}

header .navbar ul {
    display: flex;
    justify-content: space-between;
}

header .navbar ul li {
    list-style: none;
}

main {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px;
}

main .items .item {
    background-color: #d9d9d954;
    width: 363px;
    padding: 20px;
    border-radius: 52px;
}

.iphone,
.airpods,
.laptop {
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 52px;
}

.iphone {
    background-image: url('../img/productos/productos_iphone1.png');
}
.iphone:hover {
    background-image: url('../img/productos//productos_iphone2.png');
}

.airpods {
    background-image: url('../img/productos//productos_airpods2.jpg');
}
.airpods:hover {
    background-image: url('../img/productos//productos_airpods1.jpg');
}

.laptop {
    background-image: url('../img/productos//productos_laptop1.jpg');
}
.laptop:hover {
    background-image: url('../img/productos//productos_laptop2.jpg');
}

.items h2 {
    color: #FFF;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.54);
    font-family: Outfit;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: 1.6px; 
}

.item__price {
    display: flex;
    justify-content: end;
    width: 90%;
}

.item__price p {
    margin-left: 20px;
}

.item__price--old {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
    letter-spacing: 1px;
    text-decoration: line-through; 
}

.item__price--new {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: 1.6px; 
}